<template name="chaining">
    <h2>Chaining</h2>

    <div class="row">
        <button id="backwards" class="btn blue">Backwards</button>
        <button id="ahead" class="btn light-blue">Ahead</button>
    </div>


    <div class="row">
        {{value}}
    </div>

    <div class="row">
        final conclusions

        {{finalConclusions}}
    </div>

    <div class="row">
        <div class="col s6">
        <h2 id="questions">Questions</h2>
        {{#each predecessorQuestions}}
            <div class="row">
                {{>propositionName}}
                <button id="optionTrue" class="btn blue decision">True</button>
                <button id="optionFalse" class="btn red decision">False</button>
            </div>



        {{/each}}

        </div>
        <div class="col s6">
            <!--{{>rulesList}}-->
            <h2> Rules</h2>
            {{#each rule}}
                <li class="collection-item">
                    {{#each predecessor}}
                        {{#if isFalse}}
                            <label class="red-text">"NO"</label>
                        {{/if}}
                        <!--{{name }}  "AND"-->
                        <!--{{#if value}}-->
                            <!--1-->
                        <!--{{else}}-->
                        {{> nameRule }}  <label class="blue-text">"AND"</label>
                        <!--{{ namePre _idAntecesorProposition}}  <label class="blue-text">"AND"</label>-->

                        <!--{{/if}}-->
                    {{/each}}
                    --->
                    {{#with consequent}}
                        {{#if isFalse}}
                            <!--"NO"-->
                            <label class="red-text">"NO"</label>
                        {{/if}}

                        {{>nameConsequent}}
                        <!--{{namePre _idConsequent}}-->
                    {{/with}}
                </li>

            {{/each}}
        </div>

    </div>


</template>