<template name="listAndRules">
    <ul class="collection with-header">
        <li class="collection-header"> <h3>AND RULES</h3></li>
        {{#each rule}}
            <li class="collection-item">
                {{#each predecessor}}
                    {{#if isFalse}}
                        <label class="red-text">"NO"</label>
                    {{/if}}
                    <!--{{name }}  "AND"-->
                    {{> nameRule }}  <label class="blue-text">"AND"</label>
                {{/each}}
                --->
                {{#with consequent}}
                    {{#if isFalse}}
                        <!--"NO"-->
                        <label class="red-text">"NO"</label>
                    {{/if}}

                    {{>nameConsequent}}
                {{/with}}
            </li>

        {{/each}}
    </ul>
</template>