<template name="listOrRules">
    <ul class="collection with-header">
        <li class="collection-header"> <h3>OR RULES</h3></li>
        {{#each rule}}
            <li class="collection-item">
                {{#each orPrepositions}}

                    {{#if isFalse}}
                        <label class="red-text">"NO"</label>
                    {{/if}}
                    {{>nameOrRule}} <label class="blue-text">"OR"</label>

                {{/each}}
            </li>

        {{/each}}
    </ul>
</template>