<template name="rulesList">
    <h3>RULES</h3>

    <div class="fixed-action-btn" style="bottom: 2em; right: 2em;">
        <a href="{{pathFor 'rules.add'}}" class="btn-floating btn-large green">
            <i class="large mdi-content-add"></i>
        </a>
    </div>

    <ul class="collection with-header">
        <li class="collection-header"> <h3>Recently added</h3></li>
        {{#each rule}}
            <li class="collection-item">
                {{#each predecessor}}
                    {{#if isFalse}}
                        "NO"
                    {{/if}}
                    {{name }}  "AND"
                {{/each}}
                --->
                {{nameConsequent}}
            </li>

        {{/each}}
    </ul>

    <div class="raw">
        <button id="aMethod" class="btn blue">Method</button>
    </div>
</template>


<template name="mainProposition">
    {{name}}
</template>